<div class="expense">
    <div class="title-wrapper">
        <ion-text class="title ellipsis">{{expense.title}}</ion-text>
        <ion-text class="date" color="medium">{{expense.date | date: "MMM d, y, HH:mm"}}</ion-text>
    </div>
    <ion-text color="danger">{{-payedAmount | appCurrency: currency}}</ion-text>
</div>
<div class="debt-members">
    <div class="debt-member" *ngFor="let debt of myDebts">
        <span class="name">you must give to <strong>{{debt.personName}}</strong></span>
        <ion-text color="warning">{{debt.amount | appCurrency: currency}}</ion-text>
    </div>
    <div class="debt-member" *ngFor="let debt of myGetsBack">
        <span class="name">you must get from <strong>{{debt.personName}}</strong></span>
        <ion-text color="secondary">{{debt.amount | appCurrency: currency}}</ion-text>
    </div>
</div>

