.expense {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrapper {
    display: flex;
    flex-direction: column;

    .date {
        font-size: 0.8em;
    }
}

.debt-members {
    .debt-member {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        font-size: 0.8em;

        .name {


            strong {
                font-weight: 500;
            }
        }

        &:first-child {
            margin-top: 5px;
        }
    }
}
