<ng-container *ngIf="viewMembers$ | async as members">
    <ion-text class="control-label">{{label}}</ion-text>

    <div class="members-wrapper">
        <div class="member" *ngFor="let member of members; trackBy: trackByFn">

            <div class="info-row">
                <div class="amount-wrapper">
                    <div class="name-row">
                        {{member.name}}
                    </div>
                    <div class="amount-row">
                        <ion-text class="currency">{{currency}}</ion-text>
                        <input type="text" class="ms-input" currencyMask [currencyMaskCode]="currency" inputmode="numeric"
                            [placeholder]="placeholder" [maskValue]="member.amount" (maskValueChange)="amountChange($event, member.memberId)">
                    </div>

                </div>
                <div class="ration-wrapper" *ngIf="members.length > 1">
                    <ion-button shape="round" size="small" slot="icon-only" class="round-icon-button" [disabled]="member.ration === null" (click)="decreaseRation(member.memberId)">
                        <span class="material-symbols-rounded">remove</span>
                    </ion-button>
                    <span class="ration">{{member.ration ? member.ration + "x" : ""}}</span>
                    <ion-button shape="round" size="small" slot="icon-only" class="round-icon-button" [disabled]="member.ration === 99" (click)="increaseRation(member.memberId)">
                        <span class="material-symbols-rounded">add</span>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

    <div class="add-member-btn">
        <app-button variant="soft" [id]="'select-members' + controlId">
            <span class="material-symbols-rounded">group</span>
            Select People
        </app-button>
    </div>

    <ion-modal [trigger]="'select-members' + controlId" class="select-person-modal" #modal>
        <ng-template>
            <app-select-person-modal
                [people]="(inputMembers$ | async) || []"
                [formControl]="selectedMemberIds"
                (close)="modal.dismiss()"
            ></app-select-person-modal>
        </ng-template>
    </ion-modal>
</ng-container>
