:host {
    display: block;
    width: 100%;
}

.control-label {
    text-align: center;
    display: block;
    color: var(--ion-color-medium);
}

.members-wrapper {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member {

    .info-row {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        .amount-wrapper {
            flex-grow: 1;

            .name-row {
                font-weight: 500;
            }

            .amount-row {
                display: flex;
                align-items: flex-start;
                gap: 10px;

                .currency {
                    color: var(--ion-color-medium);
                }

                ion-input {
                    --padding-top: 0;
                    --padding-bottom: 5px;
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }

        .ration-wrapper {
            display: flex;
            align-items: center;
            gap: 10px;

            .ration {
                width: 30px;
                text-align: center;
            }
        }
    }
}

.add-member-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
