<ng-container *ngIf="viewMembers$ | async as members">
    <ion-text class="control-label">{{label}}</ion-text>

    <div class="members-wrapper">
        <div class="member" *ngFor="let member of members; trackBy: trackByFn">

            <div class="info-row">
                <div class="amount-wrapper">
                    <div class="name-row">
                        {{member.name}}
                    </div>
                    <div class="amount-row">
                        <ion-text class="currency">{{currency}}</ion-text>
                        <input type="text" class="ms-input" currencyMask
                            placeholder="0.00" [maskValue]="member.amount" (maskValueChange)="amountChange($event, member.memberId)">
                    </div>

                </div>
                <div class="ration-wrapper" *ngIf="members.length > 1">
                    <ion-button shape="round" size="small" slot="icon-only" class="round-icon-button" [disabled]="member.ration === null" (click)="decreaseRation(member.memberId)">
                        <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>
                    <span class="ration">{{member.ration ? member.ration + "x" : ""}}</span>
                    <ion-button shape="round" size="small" slot="icon-only" class="round-icon-button" [disabled]="member.ration === 99" (click)="increaseRation(member.memberId)">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </div>
    </div>

    <div class="add-member-btn">
        <ion-button style="margin: 0" fill="outline" size="small" [id]="'select-members' + controlId">
            <ion-icon slot="start" name="people"></ion-icon>
            Select People
        </ion-button>
    </div>

    <ion-modal [trigger]="'select-members' + controlId" class="select-person-modal" #modal>
        <ng-template>
            <app-select-person-modal
                [people]="(inputMembers$ | async) || []"
                [formControl]="selectedMemberIds"
                (close)="modal.dismiss()"
            ></app-select-person-modal>
        </ng-template>
    </ion-modal>
</ng-container>
