<ion-header>
    <div class="toolbar">
        <div class="toolbar-group">
            <app-button variant="text" color="light" icon routerLink="/app/groups" routerDirection="back">
                <span class="material-symbols-rounded">close</span>
            </app-button>
            <h2 class="toolbar-title">Create Group</h2>
        </div>
        <app-button (click)="createGroup()">Save</app-button>
    </div>
</ion-header>

<ion-content>
    <app-group-form [form]="groupForm" [members$]="members$"></app-group-form>
</ion-content>
