<ion-list [formGroup]="form">
    <ion-item>
        <ion-input placeholder="Expense title" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>{{currency}}</ion-label>
        <ion-input class="total-amount" type="text" color="primary" inputmode="decimal" currencyMask formControlName="amount"></ion-input>
    </ion-item>
    <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="datetime" hourCycle="h23" formControlName="date"></ion-datetime>
            </ng-template>
        </ion-modal>
    </ion-item>
    <ion-item>
        <app-paid-by-control
            label="Paid by"
            [members]="members"
            [totalAmount]="form.get('amount')!.value || 0"
            [currency]="currency"
            formControlName="payers"
        ></app-paid-by-control>
    </ion-item>
</ion-list>
