<ion-list [formGroup]="form">
    <ion-item *ngIf="form.get('title') as control">
        <ion-input placeholder="Expense title" formControlName="title"></ion-input>
        <ion-note slot="error">Enter expense title</ion-note>
    </ion-item>
    <ion-item>
        <ion-label>{{currency}}</ion-label>
        <ion-input class="total-amount" type="text" color="primary" inputmode="decimal" currencyMask
            formControlName="amount"></ion-input>
    </ion-item>
    <ion-item>
        <div>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
                <ng-template>
                    <ion-datetime id="datetime" hourCycle="h23" formControlName="date"></ion-datetime>
                </ng-template>
            </ion-modal>
        </div>
    </ion-item>

    <app-expense-members-control
        class="ion-padding-horizontal"
        label="Paid by"
        [members]="members"
        [totalAmount]="form.get('amount')!.value"
        [currency]="currency"
        formControlName="payers"
    ></app-expense-members-control>

    <!-- Hack to show error state -->
    <ion-item class="hidden">
        <ion-input formControlName="payers"></ion-input>
        <ion-note slot="error" formControlName="payers" errorMessage></ion-note>
    </ion-item>

    <app-expense-members-control
        class="ion-padding-horizontal"
        label="Split between"
        [members]="members"
        [totalAmount]="form.get('amount')!.value"
        [currency]="currency"
        formControlName="debtors"
    ></app-expense-members-control>

    <!-- Hack to show error state -->
    <ion-item class="hidden">
        <ion-input formControlName="debtors"></ion-input>
        <ion-note slot="error" formControlName="debtors" errorMessage></ion-note>
    </ion-item>
</ion-list>
