<ion-header>
    <div class="toolbar">
        <div class="toolbar-group">
            <app-button variant="text" color="light" icon routerLink=".." routerDirection="back">
                <span class="material-symbols-rounded">close</span>
            </app-button>
            <h2 class="toolbar-title">New Expense</h2>
        </div>
        <app-button (click)="createExpense()">Save</app-button>
    </div>
</ion-header>

<ion-content>
    <ng-container *ngIf="currency$ | async as currency">
        <app-expense-form
            *ngIf="form"
            [form]="form"
            [members]="(members$ | async) || []"
            [currency]="currency"
        ></app-expense-form>
    </ng-container>
</ion-content>
