.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.page-title {
    margin-bottom: 1rem;
}

.email-input {
    width: 100%;
    margin-bottom: 10px;
}

.sign-in-btn {
    text-transform: none;
    width: 100%;

    &.google {
        --background: white;
        --color: black;
    }

    &.email {
        --background: #db4437;
        --color: white;
    }

    ion-icon, span {
        margin-right: 16px;
    }
}

.divider {
    hr {
        width: 100%;
        background-color: var(--ion-color-light-contrast);
    }

    span {
        margin: 0 10px;
    }
}
