.title-wrapper {
    display: flex;
    flex-direction: column;

    .date {
        font-size: 0.8em;
    }
}

.add-expense-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;

    .add-expense-btn {
        width: 160px;
        height: 48px;
        --border-radius: 24px;

        ion-icon {
            margin-right: 10px;
        }

        ion-text {
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
}

ion-content {
    --padding-bottom: 70px;
}
