<ion-header>
    <ion-toolbar>
        <ion-title>People</ion-title>
        <ion-buttons slot="end">
            <app-button color="light" variant="text" icon routerLink="new">
                <span class="material-symbols-rounded">person_add</span>
            </app-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="members$ | async as members">
    <ion-list lines="none" *ngIf="members.length; else noMembers">
        <ion-item *ngFor="let member of members" [routerLink]="[member.id]">
            <ion-avatar slot="start">
                <img src="assets/icons/avatar.svg" />
            </ion-avatar>
            <ion-label>{{member.name}}</ion-label>
        </ion-item>
    </ion-list>

    <ng-template #noMembers>
        <div class="ion-margin-top ion-text-center">
            <ion-text color="medium">You don't have any saved people</ion-text>
        </div>
    </ng-template>
</ion-content>
