@import "/src/theme/typography.scss";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    cdk-virtual-scroll-viewport {
        flex-grow: 1;
    }
}

::ng-deep {
    .select-currency-modal {
        --height: 60vh;
    }
}

.search-bar {
    padding: 10px;
    height: 60px;
    border-bottom: 1px solid var(--color-neutral-6);
    display: flex;
    gap: 5px;
    align-items: center;
}

.currency-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 16px;
}

.label-wrapper {
    display: flex;
    flex-direction: column;

    .code {
        @include fontBodyL;
        color: var(--color-neutral-11);
    }

    .name {
        @include fontBodyL;
    }
}

.no-results {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    span {
        font-size: 50px;
        color: var(--color-neutral-11);
    }
}
