<div class="search-bar">
    <app-button variant="text" color="light" icon (click)="close.emit()">
        <span class="material-symbols-rounded">arrow_back</span>
    </app-button>
    <input class="ms-input" [formControl]="search" placeholder="Search currency" appAutofocus />
</div>

<ng-container *ngIf="{ itemsList: filteredCurrencies$ | async } as vm">
    <cdk-virtual-scroll-viewport msStaticVirtualScroll [itemSize]="50">
        <div class="list">
            <div class="list-item currency-wrapper"
                (click)="currencySelected(currency.code)"
                [class.active]="currency.code === selectedCurrency"
                *cdkVirtualFor="let currency of vm.itemsList; trackBy: trackByFn; templateCacheSize: 0"
            >
                    <span class="currency-flag">
                        <img *ngIf="currency.iconUrl$ | async as iconUrl" [src]="iconUrl" />
                    </span>
                    <div class="label-wrapper">
                        <p class="name">{{currency.name}} ({{currency.symbol}})</p>
                        <p class="code">{{currency.code}}</p>
                    </div>
            </div>
        </div>
    </cdk-virtual-scroll-viewport>

    <div *ngIf="vm.itemsList?.length === 0" class="no-results">
        <span class="material-symbols-rounded">search</span>
        <p>No results found</p>
    </div>
</ng-container>


