::ng-deep .select-currency-modal {
    --height: auto;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    padding: 0 20px;
}

ion-list, ion-item {
    background: var(--ion-modal-background);
    --background: var(--ion-modal-background);
}


cdk-virtual-scroll-viewport {
    height: 60vh;
}

ion-item {
    --inner-border-width: 0;
    --padding-top: 5.5px;
    --padding-bottom: 5.5px;
}

.selected {
    --background: var(--ion-item-selected);
}
