<ms-control-wrapper [formControl]="selectedPerson" class="no-border">
    <div class="person-select" id="select-person">
        <ion-label>Report for</ion-label>
        <div class="select-value" slot="end">
            <span class="person-name">{{selectedPersonName$ | async}}</span>
            <div class="select-icon" role="presentation" part="icon">
                <div class="select-icon-inner"></div>
            </div>
        </div>
    </div>
</ms-control-wrapper>

<ion-modal trigger="select-person" class="select-person-modal" #personModal>
    <ng-template>
        <app-select-person-modal [multi]="false" [people]="(members$ | async) || []" [formControl]="selectedPerson"
            (close)="personModal.dismiss()"></app-select-person-modal>
    </ng-template>
</ion-modal>

<ion-segment [formControl]="selectedTotalType" class="report-type-selection" color="tertiary">
    <ion-segment-button [value]="TotalType.Short">
        <ion-label>Short</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="TotalType.Detailed">
        <ion-label>Detailed</ion-label>
    </ion-segment-button>
</ion-segment>

<div class="content-wrapper" [ngSwitch]="selectedTotalType.value">
    <app-totals-form-shell
        *ngSwitchCase="TotalType.Short"
        [personId]="selectedPerson.value"
        [allDebts$]="allDebts$"
        [currency]="currency"
    ></app-totals-form-shell>
    <app-totals-detailed-form-shell
        *ngSwitchCase="TotalType.Detailed"
        [personId]="selectedPerson.value"
        [currency]="currency"
    ></app-totals-detailed-form-shell>
</div>

