:host {
    flex-direction: column;
    display: flex;
    height: 100%;
}

.person-select {
    display: flex;
    justify-content: center;
    gap: 5px;

    .person-name {
        color: var(--ion-color-tertiary);
    }
}

.report-type-selection {
    border-bottom: 1px solid var(--ion-border-color);
}

.content-wrapper {
    overflow: auto;
}
