<ng-container *ngIf="group$ | async as group">
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button routerLink=".." routerDirection="back">
                    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>{{group.name}}</ion-title>
            <ion-buttons slot="end">
                <ion-button routerLink="edit">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-row class="swiper-wrapper">
            <ion-col class="swiper-segments">
                <ion-segment [scrollable]="true" [formControl]="control">
                    <ion-segment-button [value]="Slide.Expenses">
                        Expenses
                    </ion-segment-button>
                    <ion-segment-button [value]="Slide.Transfers">
                        Transfers
                    </ion-segment-button>
                    <ion-segment-button [value]="Slide.Totals">
                        Totals
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
            <ion-col class="swiper-slides">
                <ion-slides class="swiper" [options]="slideOpts" (ionSlideWillChange)="slideChanged($event)">
                    <ion-slide>
                        <app-expenses-list-shell></app-expenses-list-shell>
                    </ion-slide>
                    <ion-slide>
                        <app-transfers-list-shell></app-transfers-list-shell>
                    </ion-slide>
                    <ion-slide>
                        <app-totals-shell></app-totals-shell>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-content>
</ng-container>
