<ng-container *ngIf="group$ | async as group">
    <div class="safe-area-top">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-button routerLink=".." routerDirection="back">
                    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>{{group.name}}</ion-title>
            <ion-buttons slot="end">
                <ion-button routerLink="edit">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </div>

    <ion-content>
        <ion-row class="swiper-wrapper">
            <ion-col class="swiper-segments">
                <ion-header>
                    <ion-segment [scrollable]="true" [formControl]="control">
                        <ion-segment-button [value]="Slide.Expenses">
                            Expenses
                        </ion-segment-button>
                        <ion-segment-button [value]="Slide.Transfers">
                            Transfers
                        </ion-segment-button>
                        <ion-segment-button [value]="Slide.Totals">
                            Totals
                        </ion-segment-button>
                    </ion-segment>
                </ion-header>
            </ion-col>
            <ion-col class="swiper-slides">
                <swiper-container [modules]="swiperModules" [initialSlide]="defaultSlideIndex"  (swiperslidechange)="slideChanged($event)" class="swiper" #swiper>
                    <swiper-slide>
                        <app-expenses-list-shell [currency]="group.currency"></app-expenses-list-shell>
                    </swiper-slide>
                    <swiper-slide>
                        <app-transfers-list-shell [currency]="group.currency"></app-transfers-list-shell>
                    </swiper-slide>
                    <swiper-slide>
                        <app-totals-shell [currency]="group.currency"></app-totals-shell>
                    </swiper-slide>
                </swiper-container>
            </ion-col>
        </ion-row>
    </ion-content>
</ng-container>
