<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/people" routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Edit Person</ion-title>
        <ion-buttons slot="end">
            <ion-button id="remove-person-confirm-modal">
                <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-person-form [form]="personForm"></app-person-form>

    <ion-list lines="none" class="ion-padding-top">
        <ion-item>
            <ion-button size="default" slot="end" (click)="savePerson()">
                <ion-icon slot="start" name="save-outline"></ion-icon>
                Save person
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-modal trigger="remove-person-confirm-modal" class="modal" #confirmModal>
    <ng-template>
        <div class="modal-wrapper">
            <div class="modal-title">
                Are you sure you want to delete this person?
            </div>
            <div class="modal-buttons">
                <ion-button color="medium" (click)="confirmModal.dismiss()">Cancel</ion-button>
                <ion-button (click)="removePerson(confirmModal)">Yes</ion-button>
            </div>
        </div>
    </ng-template>
</ion-modal>

