<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="../" routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-person-form [form]="memberForm"></app-person-form>

    <ion-list lines="none" class="ion-padding-top">
        <ion-item>
            <ion-button size="default" slot="end">
                <ion-icon slot="start" name="save-outline"></ion-icon>
                Save person
            </ion-button>
        </ion-item>
    </ion-list>


</ion-content>


