<ion-content>
    <div class="safe-area-top">
        <h2 class="ion-text-center">Settings</h2>
        <ion-list [formGroup]="settingsForm">
            <ion-item>
                <ion-select interface="popover" placeholder="Select theme" formControlName="theme" label="Theme">
                    <ion-select-option [value]="Theme.System">System</ion-select-option>
                    <ion-select-option [value]="Theme.Light">Light</ion-select-option>
                    <ion-select-option [value]="Theme.Dark">Dark</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item class="item-interactive">
                <div class="backups">
                    <h4>Backups</h4>
                    <div class="buttons">
                        <app-button (click)="saveBackup()">
                            <span class="material-symbols-rounded">upload</span>
                            Export data
                        </app-button>
                        <app-button color="accent" (click)="selectFile()">
                            <span class="material-symbols-rounded">download</span>
                            Import data
                        </app-button>
                        <input hidden type="file" #inputFile accept="application/json" (input)="applyBackup($event)">
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-interactive">
                <app-button color="light" variant="text" routerLink="/style-guide">
                    <span class="material-symbols-rounded">palette</span>
                    Style Guide
                </app-button>
            </ion-item>
            <ion-item class="item-interactive">
                <app-button color="danger" variant="text" (click)="signOut()">
                    <span class="material-symbols-rounded">logout</span>
                    Sign Out
                </app-button>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
