<ion-header>
    <div class="toolbar">
        <div class="toolbar-group">
            <app-button variant="text" color="light" icon routerLink="../.." routerDirection="back">
                <span class="material-symbols-rounded">close</span>
            </app-button>
            <h2 class="toolbar-title">Edit Expense</h2>
        </div>
        <div class="toolbar-group">
            <app-button (click)="saveExpense()">Save</app-button>
            <app-button variant="text" color="danger" icon id="remove-expense-confirm-modal">
                <span class="material-symbols-rounded not-filled">delete</span>
            </app-button>
        </div>
    </div>
</ion-header>

<ion-content>
    <ng-container *ngIf="currency$ | async as currency">
        <app-expense-form
            *ngIf="form"
            [form]="form"
            [members]="(members$ | async) || []"
            [currency]="currency"
        ></app-expense-form>
    </ng-container>
</ion-content>

<ion-modal trigger="remove-expense-confirm-modal" class="modal" #confirmModal>
    <ng-template>
        <div class="modal-wrapper">
            <div class="modal-title">
                Are you sure you want to delete this expense?
            </div>
            <div class="modal-buttons">
                <ion-button color="medium" (click)="confirmModal.dismiss()">Cancel</ion-button>
                <ion-button (click)="removeExpense(confirmModal)">Yes</ion-button>
            </div>
        </div>
    </ng-template>
</ion-modal>
