.ms-input {
    border: none;
    padding: 0;
    width: 100%;
    background-color: transparent;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: inherit;
        opacity: .5;
    }
}

.input-fill-outline.input-label-placement-floating.md {
    --padding-start: 16px;
    --padding-end: 16px;
    min-height: 50px;

    input.sc-ion-input-md {
        margin: 0;
        caret-color: var(--color-neutral-12) !important;

        &::placeholder {
            color: inherit;
            opacity: .5;
        }
    }

    .error-text {
        @include fontBodyS;
        color: var(--color-danger-9);
    }

    .notch-spacer {
        font-size: calc(1em * 0.83);
    }

    /* Label styles */

    .label-text-wrapper {
        font-weight: 500;
        color: var(--color-neutral-12);
        opacity: 0.5;
        transition:
            transform 100ms linear,
            top 100ms linear;
        top: 50%;
        transform: translateY(-50%) scale(1);
    }

    &.has-focus .label-text-wrapper, &.has-focus.ion-valid .label-text-wrapper {
        color: var(--color-primary-9);
    }

    &.ion-invalid.ion-touched .label-text-wrapper {
        color: var(--color-danger-9);
        opacity: 1;
    }

    &.label-floating {
        .label-text-wrapper {
            top: 0;
            transform: translateY(-35%) scale(0.83);
        }

        &.has-focus .label-text-wrapper {
            opacity: 1;
        }
    }

    /* Border styles */

    --border-color: var(--color-neutral-6);
    --border-radius: 8px;

    &:hover {
        --border-color: var(--color-neutral-6);
    }

    &.ion-invalid.ion-touched {
        --border-color: var(--color-danger-9);
    }

    &.has-focus, &.has-focus.ion-valid {
        --border-color: var(--color-primary-9);
    }
}
