.material-symbols-rounded {
    --icon-optical-size: 24; // can be 20, 24, 40 or 48
    --icon-fill: 1; // can be 1 or 0

    font-variation-settings:
    'FILL' var(--icon-fill),
    'wght' 400,
    'GRAD' 0,
    'opsz' var(--icon-optical-size)
}
