<div [formGroup]="form">
    <ms-control-wrapper formControlName="title">
        <input class="ms-input transfer-title" placeholder="Transfer title" formControlName="title">
    </ms-control-wrapper>

    <ms-control-wrapper formControlName="amount">
        <div class="total-amount-wrapper">
            <ion-label>{{currency}}</ion-label>
            <input class="ms-input total-amount" type="text" currencyMask
                formControlName="amount" placeholder="0.00">
        </div>
    </ms-control-wrapper>

    <ms-control-wrapper formControlName="date">
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="datetime" hourCycle="h23" formControlName="date"></ion-datetime>
            </ng-template>
        </ion-modal>
    </ms-control-wrapper>

    <ms-control-wrapper formControlName="senderId">
        <div class="person-select item-interactive" id="select-sender">
            <ion-label>From</ion-label>
            <div class="select-value" slot="end">
                <span>{{selectedSender$ | async}}</span>
                <div class="select-icon" role="presentation" part="icon">
                    <div class="select-icon-inner"></div>
                </div>
            </div>
        </div>
    </ms-control-wrapper>

    <ms-control-wrapper formControlName="recipientId" [extraErrors]="form.errors">
        <div class="person-select item-interactive" id="select-recipient">
            <ion-label>To</ion-label>
            <div class="select-value" slot="end">
                <span>{{selectedRecipient$ | async}}</span>
                <div class="select-icon" role="presentation" part="icon">
                    <div class="select-icon-inner"></div>
                </div>
            </div>
        </div>
    </ms-control-wrapper>

    <ion-modal trigger="select-sender" class="select-person-modal" #senderModal>
        <ng-template>
            <app-select-person-modal
                [multi]="false"
                [people]="(members$ | async) || []"
                formControlName="senderId"
                (close)="senderModal.dismiss()"
            ></app-select-person-modal>
        </ng-template>
    </ion-modal>

    <ion-modal trigger="select-recipient" class="select-person-modal" #recipientModal>
        <ng-template>
            <app-select-person-modal
                [multi]="false"
                [people]="(members$ | async) || []"
                formControlName="recipientId"
                (close)="recipientModal.dismiss()"
            ></app-select-person-modal>
        </ng-template>
    </ion-modal>
</div>
