<ion-list [formGroup]="form">
    <ion-item *ngIf="form.get('title') as control">
        <ion-input class="transfer-title" placeholder="Transfer title" formControlName="title"></ion-input>
        <ion-note slot="error">Enter transfer title</ion-note>
    </ion-item>
    <ion-item>
        <ion-label>{{currency}}</ion-label>
        <ion-input class="total-amount" type="text" color="primary" inputmode="decimal" currencyMask
            formControlName="amount" [maskValue]="form.controls.amount.value"></ion-input>
    </ion-item>
    <ion-item>
        <div>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
                <ng-template>
                    <ion-datetime id="datetime" hourCycle="h23" formControlName="date"></ion-datetime>
                </ng-template>
            </ion-modal>
        </div>
    </ion-item>
    <ion-item class="item-interactive" [button]="true" id="select-sender">
        <ion-label>From</ion-label>
        <div class="select-value" slot="end">
            <span>{{selectedSender$ | async}}</span>
            <div class="select-icon" role="presentation" part="icon">
                <div class="select-icon-inner"></div>
            </div>
        </div>
    </ion-item>
    <ion-item class="item-interactive" [button]="true" id="select-recipient">
        <ion-label>To</ion-label>
        <div class="select-value" slot="end">
            <span>{{selectedRecipient$ | async}}</span>
            <div class="select-icon" role="presentation" part="icon">
                <div class="select-icon-inner"></div>
            </div>
        </div>
    </ion-item>


    <ion-modal trigger="select-sender" class="select-person-modal" #senderModal>
        <ng-template>
            <app-select-person-modal
                [multi]="false"
                [people]="(members$ | async) || []"
                formControlName="senderId"
                (close)="senderModal.dismiss()"
            ></app-select-person-modal>
        </ng-template>
    </ion-modal>

    <ion-modal trigger="select-recipient" class="select-person-modal" #recipientModal>
        <ng-template>
            <app-select-person-modal
                [multi]="false"
                [people]="(members$ | async) || []"
                formControlName="recipientId"
                (close)="recipientModal.dismiss()"
            ></app-select-person-modal>
        </ng-template>
    </ion-modal>
</ion-list>


