<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <app-button variant="text" color="light" icon routerLink=".." routerDirection="back">
                <span class="material-symbols-rounded">arrow_back</span>
            </app-button>
        </ion-buttons>
        <ion-title>Create Person</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-person-form [form]="personForm"></app-person-form>

    <ion-list lines="none" class="ion-padding-top">
        <ion-item>
            <app-button slot="end" (click)="createPerson()">
                <span class="material-symbols-rounded">add</span>
                Create person
            </app-button>
        </ion-item>
    </ion-list>
</ion-content>
