<ion-header>
    <ion-toolbar>
        <ion-title class="font-title-l">Groups</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="new" size="large">
                <span slot="icon-only" class="material-symbols-rounded new-group">add</span>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="groups$ | async as groups">
    <ion-list lines="none" *ngIf="groups.length; else noGroups">
        <ion-item *ngFor="let group of groups" [routerLink]="[group.id]">
            <ion-avatar slot="start">
                <span class="material-symbols-rounded">group</span>
            </ion-avatar>
            <p class="font-title-s group-name">{{group.name}}</p>
        </ion-item>
    </ion-list>

    <ng-template #noGroups>
        <div class="no-groups-wrapper">
            <ion-text class="no-groups-text font-title-s">You don't have any groups</ion-text>
            <ion-text class="no-groups-text font-title-s">Press <span class="material-symbols-rounded plus-icon">add</span> to create</ion-text>
        </div>
    </ng-template>
</ion-content>
