.expense-title {
    font-size: 20px;
}

.currency-label {
    font-size: 1.2rem;
}

.total-amount {
    font-size: 24px;
    color: var(--ion-color-primary);
}

.total-amount-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

:host .hidden {
   --min-height: 0;

    ion-input {
        display: none;
    }
}
