<div [formGroup]="form">
    <ms-control-wrapper formControlName="title">
        <input class="ms-input expense-title" placeholder="Expense title" formControlName="title">
    </ms-control-wrapper>

    <ms-control-wrapper formControlName="amount">
        <div class="total-amount-wrapper">
            <ion-label>{{currency}}</ion-label>
            <input class="ms-input total-amount" type="text" [placeholder]="placeholder" currencyMask [currencyMaskCode]="currency" formControlName="amount">
        </div>
    </ms-control-wrapper>

    <ms-control-wrapper formControlName="date">
        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="datetime" hourCycle="h23" formControlName="date"></ion-datetime>
            </ng-template>
        </ion-modal>
    </ms-control-wrapper>

    <ms-control-wrapper formControlName="payers">
        <app-expense-members-control
            label="Paid by"
            [members]="members"
            [totalAmount]="form.get('amount')!.value"
            [currency]="currency"
            formControlName="payers"
        ></app-expense-members-control>
    </ms-control-wrapper>

    <ms-control-wrapper formControlName="debtors">
        <app-expense-members-control
            label="Split between"
            [members]="members"
            [totalAmount]="form.get('amount')!.value"
            [currency]="currency"
            formControlName="debtors"
        ></app-expense-members-control>
    </ms-control-wrapper>
</div>
