<ng-container [formGroup]="form">
    <div class="form-wrapper safe-area-sides">
        <app-upload-photo formControlName="photo"></app-upload-photo>

        <ion-input label-placement="floating" fill="outline" formControlName="name"
            label="Group name" ionErrorMessage
        ></ion-input>

        <ms-control-wrapper formControlName="currency" id="select-currency">
            <div class="select-currency-wrapper">
                <div class="select-value">
                    <ng-container *ngIf="selectedCurrency$ | async as selectedCurrency; else placeholder">
                        <span class="currency-flag">
                            <img *ngIf="selectedCurrency.iconUrl$ | async as iconUrl" [src]="iconUrl" />
                        </span>
                        <span>{{selectedCurrency.code}} - {{selectedCurrency.name}} ({{selectedCurrency.symbol}})</span>
                    </ng-container>

                    <ng-template #placeholder>
                        <p class="placeholder">Main currency</p>
                    </ng-template>
                </div>

                <span class="material-symbols-rounded expand-icon">expand_more</span>
            </div>
        </ms-control-wrapper>

        <!-- <ms-control-wrapper formControlName="members">
            <div class="select-members-wrapper" id="select-members">
                <ion-label>Members</ion-label>
                <div class="select-value" slot="end">
                    <span>{{selectedMembers$ | async}}</span>
                    <div class="select-icon" role="presentation" part="icon">
                        <div class="select-icon-inner"></div>
                    </div>
                </div>
            </div>
        </ms-control-wrapper> -->

        <div class="members-list-wrapper">
            <div class="members-list-header">
                <p class="font-label-m">Group members</p>
                <app-button color="light" variant="text" icon id="select-members">
                    <span class="material-symbols-rounded">person_add</span>
                </app-button>
            </div>
            <div class="error font-body-s" [appErrorMsg]="form.controls.members" (showError)="showMembersError = $event"></div>
            <div class="members-list-content" *ngIf="selectedMembers$ | async as selectedMembers; else noFriends">
                TODO: {{ selectedMembers }}
            </div>
            <ng-template #noFriends>
                <div class="nothing-selected font-body-s" *ngIf="!showMembersError">No friends selected</div>
            </ng-template>
        </div>
    </div>

    <ion-modal trigger="select-members" class="select-person-modal" #modal>
        <ng-template>
            <app-select-person-modal
                [people]="(members$ | async) || []"
                formControlName="members"
                (close)="modal.dismiss()"
            ></app-select-person-modal>
        </ng-template>
    </ion-modal>

    <ion-modal trigger="select-currency" class="select-currency-modal" #currencyModal [enterAnimation]="anim.enterAnimation" [leaveAnimation]="anim.leaveAnimation">
        <ng-template>
            <app-select-currency-modal
                [currencies$]="currencies$"
                formControlName="currency"
                (close)="currencyModal.dismiss()"
            ></app-select-currency-modal>
        </ng-template>
    </ion-modal>
</ng-container>
