.group-background {
    margin-bottom: 40px;
    background-color: var(--ion-color-success-tint);
    height: 100px;
    position: relative;

    ion-avatar {
        z-index: 1;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100px;
        height: 100px;
    }
}

.group-name {
    font-size: 20px;
}

.select-members-wrapper {
    display: flex;
    justify-content: space-between;
}

.select-currency-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-select {
        padding: 0;
    }
}
