<ng-container [formGroup]="form">
    <div class="group-background">
        <ion-avatar slot="start">
            <img src="assets/group.svg" />
        </ion-avatar>
    </div>

    <div>
        <ms-control-wrapper formControlName="name">
            <input class="group-name ms-input" formControlName="name" placeholder="Group name">
        </ms-control-wrapper>

        <ms-control-wrapper formControlName="members">
            <div class="select-members-wrapper" id="select-members">
                <ion-label>Members</ion-label>
                <div class="select-value" slot="end">
                    <span>{{selectedMembers$ | async}}</span>
                    <div class="select-icon" role="presentation" part="icon">
                        <div class="select-icon-inner"></div>
                    </div>
                </div>
            </div>
        </ms-control-wrapper>

        <ms-control-wrapper formControlName="currency">
            <div class="select-currency-wrapper">
                <ion-label>Currency</ion-label>
                <ion-select placeholder="Select currency" formControlName="currency" interface="popover">
                    <ion-select-option *ngFor="let currency of currencies" [value]="currency">
                        {{currency}}
                    </ion-select-option>
                </ion-select>
            </div>
        </ms-control-wrapper>
    </div>

    <ion-modal trigger="select-members" class="select-person-modal" #modal>
        <ng-template>
            <app-select-person-modal
                [people]="(members$ | async) || []"
                formControlName="members"
                (close)="modal.dismiss()"
            ></app-select-person-modal>
        </ng-template>
    </ion-modal>
</ng-container>
