@import "/src/theme/typography.scss";

.form-wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group-background {
    margin-bottom: 40px;
    background-color: var(--ion-color-success-tint);
    height: 100px;
    position: relative;

    ion-avatar {
        z-index: 1;
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100px;
        height: 100px;
    }
}

.select-members-wrapper {
    display: flex;
    justify-content: space-between;
}

#select-currency {
    cursor: pointer;
}

.select-currency-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .select-value {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.placeholder, .expand-icon {
    opacity: 0.5;
}

.members-list-wrapper {
    width: 100%;

    .members-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 24px;
        margin-right: -8.5px;
    }

    .nothing-selected {
        margin-top: 15px;
        text-align: center;
        color: var(--color-neutral-9);
    }
}

.error {
    margin-top: 15px;
    text-align: center;
    color: var(--color-danger-9);
}
