.font-display-l {
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.25px;
}

.font-display-m {
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: 0;
}

.font-display-s {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
}

.font-headline-l {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
}

.font-headline-m {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0;
}

.font-headline-s {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0;
}

.font-title-l {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0;
}

.font-title-m {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.font-title-s {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.font-label-l {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.font-label-m {
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.font-label-s {
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;
}

.font-body-l {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.font-body-m {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.font-body-s {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}

