.font-display-l {
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
}

.font-display-m {
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
}

.font-display-s {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

.font-headline-l {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
}

.font-headline-m {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.font-headline-s {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.font-title-l {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.font-title-m {
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
}

.font-title-s {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
}

.font-label-l {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.font-label-m {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.font-label-s {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.font-body-l {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.font-body-m {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.font-body-s {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}

