<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink=".." routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>New Expense</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-expense-form
        [form]="form"
        [members]="(members$ | async) || []"
        [currency]="currency$ | async"
    ></app-expense-form>

    <ion-list lines="none" class="ion-padding-top">
        <ion-item>
            <ion-button size="default" slot="end" (click)="createExpense()">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Add expense
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
