<ion-content *ngIf="form" [formGroup]="form">
    <div class="wrapper">
            <ion-input *ngIf="form.controls.name" label-placement="floating" fill="outline"
                formControlName="name" label="Your name" placeholder="This name will be displayed for your friends"
                ionErrorMessage type="text"
            ></ion-input>

            <ion-input label-placement="floating" fill="outline"
                formControlName="password" label="Password" autocomplete="off"
                ionErrorMessage type="password"
            ></ion-input>

            <ion-input *ngIf="form.controls.repeatPassword" label-placement="floating" fill="outline"
                formControlName="repeatPassword" label="Repeat password" autocomplete="off"
                ionErrorMessage type="password"
            ></ion-input>

            <app-button class="submit-btn" (click)="submit()">
                {{ isNewAccount ? "Create Account" : "Sign In" }}
            </app-button>
            <app-button color="light" variant="text" routerLink="/auth" [queryParams]="{ email }">
                Go Back
            </app-button>
    </div>
</ion-content>
