<ion-header>
    <ion-toolbar>
        <ion-title>Groups</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="new">
                <ion-icon slot="icon-only" name="add-outline" color="success"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="groups$ | async as groups">
    <ion-list lines="none" *ngIf="groups.length; else noGroups">
        <ion-item *ngFor="let group of groups" [routerLink]="[group.id]">
            <ion-avatar slot="start">
                <img src="assets/group.svg" />
            </ion-avatar>
            <ion-label>{{group.name}}</ion-label>
        </ion-item>
    </ion-list>

    <ng-template #noGroups>
        <div class="ion-margin-top ion-text-center">
            <ion-text color="medium">You don't have any saved groups</ion-text>
        </div>
    </ng-template>
</ion-content>
