<ion-header>
    <div class="toolbar">
        <div class="toolbar-group">
            <app-button variant="text" color="light" icon routerLink=".." routerDirection="back">
                <span class="material-symbols-rounded">close</span>
            </app-button>
            <h2 class="toolbar-title">New Transfer</h2>
        </div>
        <app-button (click)="createTransfer()">Save</app-button>
    </div>
</ion-header>

<ion-content>
    <app-transfer-form
        *ngIf="currency$ | async as currency"
        [form]="form"
        [members$]="members$"
        [currency]="currency"
    ></app-transfer-form>
</ion-content>
