<ion-header>
    <div class="toolbar">
        <div class="toolbar-group">
            <app-button variant="text" color="light" icon routerLink="../.." routerDirection="back">
                <span class="material-symbols-rounded">close</span>
            </app-button>
            <h2 class="toolbar-title">Edit Transfer</h2>
        </div>
        <div class="toolbar-group">
            <app-button (click)="saveTransfer()">Save</app-button>
            <app-button variant="text" color="danger" icon id="remove-transfer-confirm-modal">
                <span class="material-symbols-rounded not-filled">delete</span>
            </app-button>
        </div>
    </div>
</ion-header>

<ion-content>
    <app-transfer-form
        *ngIf="currency$ | async as currency"
        [form]="form"
        [members$]="members$"
        [currency]="currency"
    ></app-transfer-form>
</ion-content>

<ion-modal trigger="remove-transfer-confirm-modal" class="modal" #confirmModal>
    <ng-template>
        <div class="modal-wrapper">
            <div class="modal-title">
                Are you sure you want to delete this transfer?
            </div>
            <div class="modal-buttons">
                <ion-button color="medium" (click)="confirmModal.dismiss()">Cancel</ion-button>
                <ion-button (click)="removeTransfer(confirmModal)">Yes</ion-button>
            </div>
        </div>
    </ng-template>
</ion-modal>
