<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="groups" class="font-label-m">
            <div class="icon-bg">
                <span class="material-symbols-rounded">group</span>
            </div>
            Groups
        </ion-tab-button>
        <ion-tab-button tab="people" class="font-label-m">
            <div class="icon-bg">
                <span class="material-symbols-rounded">person</span>
            </div>
            Friends
        </ion-tab-button>
        <ion-tab-button tab="settings" class="font-label-m">
            <div class="icon-bg">
                <span class="material-symbols-rounded">account_circle</span>
            </div>
            Profile
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
