<ion-header>
    <div class="toolbar">
        <div class="toolbar-group">
            <app-button variant="text" color="light" icon routerLink=".." routerDirection="back">
                <span class="material-symbols-rounded">close</span>
            </app-button>
            <h2 class="toolbar-title">Edit Group</h2>
        </div>
        <div class="toolbar-group">
            <app-button (click)="saveGroup()">Save</app-button>
            <app-button variant="text" color="danger" icon id="delete-group-confirm-modal">
                <span class="material-symbols-rounded not-filled">delete</span>
            </app-button>
        </div>
    </div>
</ion-header>

<ion-content>
    <app-group-form [form]="groupForm" [members$]="members$"></app-group-form>
</ion-content>

<ion-modal trigger="delete-group-confirm-modal" class="modal" #currencyModal>
    <ng-template>
        <div class="modal-wrapper">
            <div class="modal-title">
                Are you sure you want to permanently delete this group with all expenses and transfers?
            </div>
            <div class="modal-buttons">
                <ion-button color="medium" (click)="currencyModal.dismiss()">Cancel</ion-button>
                <ion-button (click)="removeGroup(currencyModal)">Yes</ion-button>
            </div>
        </div>
    </ng-template>
</ion-modal>
