<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink=".." routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Edit Group</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="removeGroup()">
                <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-group-form [form]="groupForm" [members$]="members$"></app-group-form>

    <ion-list lines="none" class="ion-padding-top">
        <ion-item>
            <ion-button size="default" slot="end" (click)="saveGroup()">
                <ion-icon slot="start" name="save-outline"></ion-icon>
                Save group
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>
