<ion-content *ngIf="fullTransfers$ | async as transfers">
    <ion-list lines="none" *ngIf="transfers.length; else noTransfers">
        <ion-item *ngFor="let transfer of transfers" [routerLink]="['transfer', transfer.id]">
            <ion-icon slot="start" name="swap-horizontal-outline"></ion-icon>
            <div class="title-wrapper">
                <ion-text class="title ellipsis">{{transfer.title}}</ion-text>
                <div class="members">
                    <ion-text color="secondary">{{transfer.sender}}</ion-text>
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                    <ion-text color="tertiary">{{transfer.recipient}}</ion-text>
                </div>
                <ion-text class="date" color="medium">{{transfer.date | date: "MMM d, y, HH:mm"}}</ion-text>
            </div>
            <ion-text slot="end" color="success">{{transfer.amount | appCurrency: currency}}</ion-text>
        </ion-item>
    </ion-list>

    <ng-template #noTransfers>
        <div class="ion-margin-top ion-text-center">
            <ion-text color="medium">You don't have any transfers yet</ion-text>
        </div>
    </ng-template>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" class="add-transfer-wrapper" routerLink="new-transfer">
    <ion-fab-button class="add-transfer-btn">
        <ion-icon name="add-outline"></ion-icon>
        <ion-text>Add Transfer</ion-text>
    </ion-fab-button>
</ion-fab>
