/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "/src/assets//fonts//fonts.scss";
@import "./styles/index.scss";

html {
    --ion-font-family: "Rubik";
}

.round-icon-button {
    --padding-start: 0.285rem;
    --padding-end: 0.285rem;
}

ion-checkbox {
    --size: 25px;
}

ion-checkbox::part(container) {
    border-radius: calc(var(--size) * 0.3);
}

// Hide error if untouched
ion-item.ion-invalid.ion-untouched {
    --highlight-background: var(--highlight-color-focused);

    [slot="error"] {
        display: none;
    }
}

.select-value {
    display: flex;
}

ion-item.ion-focused .select-icon {
    color: var(--highlight-color-focused);
    opacity: 1;
}

.select-icon {
    position: relative;
    width: 19px;
    height: 19px;
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    opacity: 0.55;

    .select-icon-inner {
        left: 5px;
        top: 50%;
        margin-top: -2px;
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: currentcolor;
        pointer-events: none;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

