::ng-deep .select-person-modal {
    --height: auto;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    --background: var(--ion-modal-background);
}

ion-list, ion-item {
    background: var(--ion-modal-background);
    --background: var(--ion-modal-background);
}

.action-button {
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    border-top: 1px solid var(--ion-border-color);
}

ion-avatar {
    margin: 5px 10px 5px 0;
}

.people {
    max-height: 60vh;
    overflow: scroll;

    ion-item {
        --inner-border-width: 0;
    }
}

.single-choose {
    --padding-top: 5.5px;
    --padding-bottom: 5.5px;
}

.selected {
    --background: var(--ion-item-selected);
}

.no-people {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
